body {
  font-family: Raleway;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* header */

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-inner {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

.bolt {
  font-size: 3em;
  color: #4e4e4e;
  float: left;
}

.header-text {
  float: right;
  background-color: #74cfae;
  display: inline-block;
  padding: 14px 12px;
  color: #fff;
  font-size: 12px;
  transition: 0.3s;
}

.header-text:hover {
  color: #333;
  transition: 0.3s;
}


/* theme */

.theme {
  background-color: #f2f2f2;
  margin-top: 78px;
}

.theme-title {
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.theme-text {
  font-size: 30px;
  color: #c0c0c0;
}

/* section-top */

.section-top {
  background-color: #74cfae;
  color: #fff;
}

.section-top-inner {
  padding-top: 50px;
}

.section-top-title {
  font-size: 24px;
}

.section-top-text {
  font-family: Lato;
  font-size: 20px;
  margin-top: 35px;
  line-height: 27px;
}

/* article */

.article {
  background-color: #f2f2f2;
}

.article-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.article-title {
  font-size: 24px;
  margin-bottom: 40px;
  color: #4e4e4e;
}

.article-img a img {
  z-index: 2;
  opacity: 0.7;
  transition: 0.3s;
}

.article-img a img:hover {
  transition: 0.3s;
  opacity: 1.0;
}

.article-text {
  color: #4e4e4e;
  font-size: 20px;
  line-height: 23px;
}

.article-button {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  transition: 0.3s;
}

.article-button:hover {
  color: #333;
  transition: 0.3s;
}

/* section-bottom */

.section-bottom {
  background-color: #4e4e4e;
  color: #fff;
}

.section-bottom-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.section-bottom-title {
  margin-bottom: 70px;
  font-size: 24px;
}

.section-bottom-main img {
  margin-bottom: 10px;
}

.section-bottom-main p {
  font-size: 16px;
  font-family: Lato;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* nav */

.nav {
  background-color: #f2f2f2;
}

.nav-inner a:hover {
  background-color: #fff;
  transition: 0.3s;
}

.color-origin {
  color: #74cfae;
}

/* footer */

.footer {
  background-color: #74cfae;
  color: #fff;
  overflow: hidden;
  font-family: Lato;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
}


@media screen and (min-width:1200px) {

  .inner {
    width: 1100px;
    text-align: center;
    margin: 0 auto;
  }

  /* theme */

  .theme-inner {
    padding-top: 250px;
    padding-bottom: 250px;
  }

  .theme-title {
    font-size: 90px;
  }

  /* section-top */

  .section-top-img {
    float: left;
    margin-left: 100px;
  }

  .section-top-sentence {
    float: right;
    text-align: center;
    width: 670px;
  }

  /* article */

  .article-img {
    margin-bottom: 90px;
    line-height: 0;
    font-size: 0;
  }

  .article-img a {
    margin-left: 100px;
  }

  .article-img a:nth-child(3n+1) {
    margin-left: 0;
  }

  .article-img a:nth-child(-n+3) {
    margin-bottom: 80px;
  }

  .article-bottom {
    text-align: center;
    display: inline-block;
  }

  .article-text {
    width: 620px;
    float: left;
    margin-right: 90px;
  }

  /* section-bottom */

  .section-bottom-img {
    display: inline-block;
  }

  .section-bottom-main {
    width: 122px;
    float: left;
  }

  .section-bottom-main {
    margin-right: 180px;
  }

  .section-bottom-main:last-child {
    margin-right: 0;
  }

  /* nav */

  .nav-inner {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .nav-inner a i {
    width: 145px;
    padding: 20px;
    transition: 0.3s;
  }

  .footer-inner {
    text-align: right;
  }

}

/* tab */

@media screen and (min-width:768px) and (max-width:1199px) {

  .inner {
    width: 97%;
    text-align: center;
    margin: 0 auto;
  }

  /* theme */

  .theme-inner {
    padding-top: 250px;
    padding-bottom: 250px;
  }

  .theme-title {
    font-size: 90px;
  }

  /* section-top */

  .section-top-inner {
    padding-bottom: 25px;
  }

  .section-top-img {
    margin-bottom: 20px;
  }

  .section-top-sentence {
    display: inline-block;
    width: 90%;
  }

  /* article */

  .article-img {
    line-height: 0;
    font-size: 0;
  }

  .article-img a {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }

  .article-img a:nth-child(4n+3) {
    margin-bottom: 80px;
  }

  .article-bottom {
    display: inline-block;
    margin-top: 80px;
  }

  .article-button {
    margin-top: 40px;
  }

  /* section-bottom */

  .section-bottom-img {
    display: block;
  }

  .section-bottom-main {
    margin-bottom: 88px;
  }

  .section-bottom-main:last-child {
    margin-bottom: 0;
  }

  /* nav */

  .nav {
    background-color: #f2f2f2;
  }

  .nav-inner {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .nav-inner a i {
    width: 145px;
    padding: 20px;
    transition: 0.3s;
  }

  .nav-inner a:hover {
    background-color: #fff;
    transition: 0.3s;
  }

  .color-origin {
    color: #74cfae;
  }


  /* footer */

  .footer-inner {
    text-align: right;
  }


}

/* sp */

@media screen and (max-width:767px) {

  .inner {
    width: 97%;
    text-align: center;
    margin: 0 auto;
  }

  /* header */

  .ham {
    float: right;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .boders {
    display: block;
    position: relative;
    width: 40px;
    height: 24px;
    height: 24px;
  }

  .boders span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ddd;

  }
  .boders span:nth-of-type(1) {
    top: 0;
  }
  .boders span:nth-of-type(2) {
    top: 10px;
  }
  .boders span:nth-of-type(3) {
    bottom: 0;
  }

  .header-text {
    display: none;
  }

  /* theme */

  .theme-inner {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .theme-title {
    font-size: 80px;
  }

  /* section-top */

  .section-top-inner {
    padding-bottom: 25px;
    display: block;
  }

  .section-top-img {
    margin-bottom: 20px;
  }

  .section-top-sentence {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* article */

  .article-img {
    line-height: 0;
    font-size: 0;
  }

  .article-img a {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }

  .article-img a:nth-child(4n+3) {
    margin-bottom: 80px;
  }

  .article-bottom {
    margin-top: 80px;
    display: inline-block;
  }

  .article-button {
    margin-top: 40px;
  }


  /* section-bottom */

  .section-bottom-img {
    display: block;
  }

  .section-bottom-main {
    margin-bottom: 88px;
  }

  .section-bottom-main:last-child {
    margin-bottom: 0;
  }

  /* nav */

  .nav-inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .nav-inner a {
    display: block;
  }

  .nav-inner a i {
    transition: 0.3s;
    padding: 20px;
  }

  /* footer */

  .footer-inner {
    text-align: right;
  }


}
